version: "3"
services:
  postgres:
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@mail.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "9999:80"
    depends_on:
      - postgres

  pedidos_rapidos:
    image: pedidos_rapidos
    build:
      context: .
    environment:
      - PORT=80 
      - DATABASE_URL=postgresql://postgres:postgres@postgres/pedidos_rapidos
    ports:
      - 8080:80
    volumes:
      - ./pedidos_rapidos:/opt/app/pedidos_rapidos
    entrypoint: 'sh -c "sleep 10 && poetry run uvicorn pedidos_rapidos.main:app --port $$PORT --host 0.0.0.0 --debug"'
    depends_on:
      - postgres
